* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: #222;
  }
  
  .card {
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
  }
  
  .search {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .search input {
    flex: 1;
    height: 60px;
    padding: 10px 25px;
    font-size: 18px;
    color: #555;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .search button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebfffc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .search button img {
    width: 20px;
  }
  
  .clima-icon {
    width: 170px;
    margin-top: 30px;
  }
  
  .clima h1 {
    font-size: 80px;
    font-weight: 500;
  }
  
  .clima h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
  }
  
  .detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 20px;
    gap: 30px;
  }
  
  .col {
    display: flex;
    align-items: center;
  }
  
  .col img {
    width: 40px;
    margin-right: 10px;
  }
  
  .humidade,
  .vento {
    font-size: 28px;
  }
  
  .clima,
  .error {
    text-align: center;
    margin-top: 30px;
    display: none;
  }
  
  .error {
    font-size: 20px;
  }
  